@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer components {
  /* Home */
  .main-navbar {
    @apply items-center flex justify-between px-3 xl:px-52 h-16 text-xl sticky top-0 backdrop-blur-2xl transition-all ease-in-out z-50;
  }

  .logo {
    @apply h-full flex items-center font-bold;
  }

  .pages {
    @apply hidden md:flex items-center space-x-10 h-full;
  }

  .offscreen-menu-btn {
    @apply md:hidden h-4/5 w-12 relative z-10 cursor-pointer;
  }

  .offscreen-menu-btn span {
    @apply bg-white h-[6px] w-4/5 rounded-full absolute top-1/2 transition-all;
  }

  .offscreen-menu-btn span:nth-child(1) {
    @apply top-1/4;
  }

  .offscreen-menu-btn span:nth-child(3) {
    @apply top-3/4;
  }

  .offscreen-menu-btn.active {
    span:nth-child(1) {
      @apply rotate-45 top-1/2;
    }

    span:nth-child(2) {
      @apply opacity-0;
    }

    span:nth-child(3) {
      @apply -rotate-45 top-1/2;
    }
  }

  .offscreen-menu {
    @apply h-screen w-11/12 bg-black/75 backdrop-blur-3xl absolute top-0 -right-11/12 flex flex-col items-center space-y-10 p-3 pt-22 transition-all;
  }

  .offscreen-menu.active {
    @apply right-0;
  }

  .content-wrapper {
    @apply mt-7 px-52 pb-10 min-h-screen;
  }

  .headline,
  .subheading {
    @apply text-lg flex py-5;
  }

  .head-left {
    @apply w-1/2 flex flex-col justify-end pb-5;
  }

  .sub-left {
    @apply w-1/2 flex items-center justify-center pb-5;
  }

  .head-left h1 {
    @apply text-7xl font-bold;
  }

  .head-right,
  .sub-right {
    @apply w-1/2 flex items-center justify-center;
  }

  .sub-right {
    @apply text-2xl italic;
  }

  .img-wrapper,
  .cat-gif {
    @apply w-84 h-96 hover:scale-105 transition-all ease-in-out rounded-lg overflow-hidden shadow-2xl;
  }

  .profile-img {
    @apply w-84 h-96 object-cover;
  }

  .call-to-action {
    @apply mt-3 mb-7;
  }

  .button {
    @apply px-3 py-2;
  }

  .cta-button {
    @apply border border-white text-white bg-transparent hover:bg-white hover:text-black transition-all ease-in-out;
  }

  .skills {
    @apply text-2xl;
  }

  .skills h5 {
    @apply text-black text-4xl font-bold my-3 px-2 bg-gradient-to-r from-white to-transparent;
  }

  .skills ul {
    @apply p-5;
  }

  .skills li {
    @apply space-y-5;
  }

  .specific-skill {
    @apply py-2 px-3 rounded-lg bg-stone-700 w-auto inline-flex mx-2 hover:scale-110 transition-all ease-in-out cursor-default items-center gap-1.5 shadow-md;
  }

  .specific-skill span {
    @apply text-lg;
  }

  /* About */
  .title {
    @apply flex items-center justify-between p-5 mb-10;
  }
  .title h3 {
    @apply text-9xl font-extrabold;
  }

  .title-left,
  .title-right {
    @apply w-1/2;
  }

  .title-left {
    @apply flex justify-end lg:pe-10;
  }

  .aboutme-img,
  .stack-1,
  .stack-2 {
    @apply rounded-2xl border-4 border-white w-[300px] h-[300px] absolute top-0 left-0 shadow-xl;
  }

  .image-wrapper {
    @apply relative w-[300px] h-[300px];
  }

  .stack-1 {
    @apply bg-amber-300 -rotate-[24deg];
  }

  .stack-2 {
    @apply bg-emerald-700 -rotate-12;
  }

  .intro {
    @apply text-3xl indent-16 flex-col space-y-5 mb-10;
  }

  .intro div {
    @apply flex space-x-5 text-justify;
  }

  .paragraph-1 img,
  .paragraph-2 img {
    @apply w-[300px] h-[300px] object-contain rounded-2xl;
  }

  .work-style h5 {
    @apply text-black text-4xl font-bold my-3 px-2 bg-gradient-to-r from-white to-transparent;
  }

  .work-style-img {
    @apply w-[400px] object-contain rounded;
  }

  .work-style div {
    @apply flex space-x-5;
  }

  .work-style p {
    @apply text-3xl indent-16 text-justify;
  }

  /* Footer */
  .footer {
    @apply flex;
  }

  #contact-me {
    @apply p-8 flex flex-grow;
  }

  .subfooter-left img {
    @apply h-20;
  }

  .subfooter-right {
    @apply flex-grow;
  }

  .title-label {
    @apply text-lg font-bold;
  }

  .contact-info {
    @apply text-xl space-x-2;
  }

  .rights-reserved {
    @apply pb-5 mr-3 flex items-end;
  }

  /* Project */
  .projects h1 {
    @apply text-black text-2xl font-bold my-3 px-2 bg-gradient-to-r from-white to-transparent;
  }

  .project-list {
    @apply flex flex-col max-h-5/6 overflow-y-auto overflow-x-hidden space-y-3 p-5 items-center;
  }

  .project-item {
    @apply flex rounded-md shadow-lg bg-neutral-700 overflow-hidden cursor-pointer hover:scale-105 transition-all ease-in-out w-11/12;
  }

  .showcase {
    @apply w-96 h-36 bg-white;
  }

  .brief-description {
    @apply flex-grow p-5;
  }

  .project-title {
    @apply text-lg font-bold;
  }

  .project-text {
    @apply text-sm text-gray-300;
  }
}

@layer base {
  body {
    height: 100vh;
    background: radial-gradient(
      circle at 45% 20%,
      rgba(0, 0, 0, 0.64) 0%,
      #141212 70%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
  }

  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
}
