@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer components {
  /* Home */
  .main-navbar {
    @apply items-center flex justify-between px-52 h-12 text-lg;
  }

  .logo {
    @apply h-full flex items-center;
  }

  .pages {
    @apply flex items-center space-x-10 h-full;
  }

  .content-wrapper {
    @apply px-52 pb-10;
  }

  .headline,
  .subheading {
    @apply text-lg flex py-5;
  }

  .head-left {
    @apply w-1/2 flex flex-col justify-end pb-5;
  }

  .sub-left {
    @apply w-1/2 flex items-center justify-center pb-5;
  }

  .head-left h1 {
    @apply text-7xl font-bold;
  }

  .head-right,
  .sub-right {
    @apply w-1/2 flex items-center justify-center;
  }

  .sub-right {
    @apply text-2xl italic;
  }

  .img-wrapper,
  .cat-gif {
    @apply w-84 h-96 hover:scale-105 transition-all ease-in-out rounded-lg overflow-hidden shadow-2xl;
  }

  .profile-img {
    @apply w-84 h-96 object-cover;
  }

  .call-to-action {
    @apply mt-3 mb-7;
  }

  .button {
    @apply px-3 py-2;
  }

  .cta-button {
    @apply border border-white text-white bg-transparent hover:bg-white hover:text-black transition-all ease-in-out;
  }

  .skills {
    @apply text-2xl;
  }

  .skills h5 {
    @apply text-black text-4xl font-bold my-3 px-2 bg-gradient-to-r from-white to-transparent;
  }

  .skills ul {
    @apply p-5;
  }

  .skills li {
    @apply space-y-5;
  }

  .specific-skill {
    @apply py-2 px-3 rounded-lg bg-stone-700 w-auto inline-flex mx-2 hover:scale-110 transition-all ease-in-out cursor-default items-center gap-1.5 shadow-md;
  }

  .specific-skill span {
    @apply text-lg;
  }

  /* About */
  .title {
    @apply flex items-center justify-between p-5 mb-10;
  }
  .title h3 {
    @apply text-9xl font-extrabold;
  }

  .title-left,
  .title-right {
    @apply w-1/2;
  }

  .title-left {
    @apply flex justify-end lg:pe-10;
  }

  .aboutme-img,
  .stack-1,
  .stack-2 {
    @apply rounded-2xl border-4 border-white w-[300px] h-[300px] absolute top-0 left-0 shadow-xl;
  }

  .image-wrapper {
    @apply relative w-[300px] h-[300px];
  }

  .stack-1 {
    @apply bg-amber-300 -rotate-[24deg];
  }

  .stack-2 {
    @apply bg-emerald-700 -rotate-12;
  }

  .intro {
    @apply text-3xl indent-16 flex-col space-y-5 mb-10;
  }

  .intro div {
    @apply flex space-x-5 text-justify;
  }

  .paragraph-1 img,
  .paragraph-2 img {
    @apply w-[300px] h-[300px] object-contain rounded-2xl;
  }

  .work-style h5 {
    @apply text-black text-4xl font-bold my-3 px-2 bg-gradient-to-r from-white to-transparent;
  }

  .work-style-img {
    @apply w-[400px] object-contain rounded;
  }

  .work-style div {
    @apply flex space-x-5;
  }

  .work-style p {
    @apply text-3xl indent-16 text-justify;
  }
}

@layer base {
  body {
    height: 100vh;
    background: radial-gradient(
      circle at 45% 20%,
      rgba(0, 0, 0, 0.64) 0%,
      #141212 70%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
  }

  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
}
